body
{
    /* background: rgb(2,0,32);
background: linear-gradient(90deg, rgba(2,0,32,1) 0%, rgba(11,11,70,1) 35%, rgba(0,0,0,1) 67%); */
background: rgb(1,0,5);
background: linear-gradient(90deg, rgba(1,0,5,1) 0%, rgba(9,9,69,1) 66%, rgba(0,0,8,1) 100%);
}